
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header{
    background: #DDD8C4;
    margin: auto;
    /* max-width: 1000px; */
}
.menu{
    display: inline-block;
}
.logo{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 1em;
    text-shadow: 3px 3px 15px #A3C9A8;
}
.nav{
    float: right;
    margin: 20px;
}
.nav>a{
    text-decoration: none;
    font-weight: 700;
    color: #216869;
    text-transform: uppercase;
    margin: 15px;
}
.welcomePage{
    clear: both;
    width: 100%;
    height: 700px;
    background:url(./images/book-stack-3964568_1280.jpg);
    background-size: cover;
    background-position: center;
}
