/* GLOBAL: */
/* Colors: */
:root {
  --vanilla: #ccc9a1;
  --lightvnilla: #faf3dd;
  --midnight: #631d76;
  --purple: rgb(10, 0, 8);
  --blue: #476c9b;
  --lightBlue: #468c98;
  --darkBlue: #101419;
}
li{
  list-style-type: none;
}
/* styles: */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.conteiner {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  padding: 0;
}

.button1 {
  padding: 10px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid var(--vanilla);
  background: var(--midnight);
  transition: all 0.2s;
}

.button1:hover {
  padding: 13px;
  transform: rotateZ(5deg);
  overflow: visible;
}

/* Hedder: */
header {
  background: var(--darkBlue);
  min-height: 70px;
}
#logo {
  float: left;
  color: var(--vanilla);
  text-transform: uppercase;
  font-size: 25px;
  background: var(--midnight);
  padding: 10px;
}
.menu {
  text-transform: uppercase;
} 

.nav-item a {
  color: var(--vanilla);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(241, 211, 110)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
  border-color: var(--vanilla);
}

.menu a:hover {
  background-color: var(--lightBlue);
  border-radius: 5px;
  color: var(--darkBlue);
  font-weight: 700;
}
#logoFirst {
  color: var(--lightBlue);
}
/* First Page: */
.welcomePage {
  min-height: 700px;
  background: url(./images/welcomebook.jpg) no-repeat;
  background-size: cover;
}
#slogan {
  color: var(--vanilla);
  font-size: 50px;
  text-align: center;
  text-shadow: 4px 4px 9px black;
  margin-top: 15%;
}
.welcomePage p {
  margin-top: 10%;
  text-align: center;
}
.welcomePage button {
  display: block;
  margin-top: 5%;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* O mnie */
.omnie {
  background: var(--lightvnilla);
}

/* Oferta Page */
.ofertasrodek{
  background-color: var(--lightvnilla);
}

/* Cytat */

.cytat {
  background: url(./images/library-3185061_1280.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 3px 3px 4px black;
}
.cytatText {
  height: 400px;
  text-align: center;
  color: aliceblue;
}
.cytatbox{
  margin-top:200px;
}


/* Opinie Page */
.card img{
  max-width: 150px;
}
.card{
  border: none;
  background-color: var(--lightvnilla);
}

/* KONTAKT */
.kontakt{
  background-color: var(--darkBlue);
}
.naglowekKontakt {
  color: var(--lightvnilla);
  margin-top: 40px;
  margin-bottom: 40px;
}
input {
  width: 100%;
  min-width: 300px;
}
textarea {
  width: 100%;
}
.daneKontaktowe {
  color: var(--vanilla);
}
.boxKontakt{
  color: var(--vanilla);
}

/* FOTTER */
footer {
  font-size: 20px;
  border-top: 3px solid var(--midnight);
  background: var(--purple);
  color: var(--lightvnilla);
  text-align: center;
}
.formularz button {
  border: 1px solid var(--purple);
}

/* MEDIA */

@media only screen and (max-width: 576px) {
  #opiniebox{
    height: 1150px;
  }
  /* #kontaktBox{
    height: 1200px;
  } */
}
@media only screen and (max-width: 768px) {
.opisOpinia{
  font-size: 14px;
}
}