*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header{
    background: #DCE1DE;
    margin: auto;
    max-width: 1000px;
}
.menu{
    display: inline-block;
}
.logo{
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
    margin-left: 1em;
}
.nav{
    float: right;
    margin: 15px;
}
.nav>a{
    text-decoration: none;
    color: #216869;
    text-transform: uppercase;
}
