
/* GLOBAL: */
/* Colors: */
:root{
--vanilla: #CCC9A1;
--midnight: #631D76;
--blue: #476C9B;
--lightBlue: #468C98;
--darkBlue: #101419;
}
/* styles: */
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.conteiner{
    width: 80%;
    margin: auto;
    overflow: hidden;
    /* background: blue; */
}
a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}

/* Hedder: */
header{
    background: var(--darkBlue);
    min-height: 70px;
}
#logo{
    float: left;
    color: var(--vanilla);
    text-transform: uppercase;
    font-size: 25px;
    background:var(--midnight);
    padding: 10px;
}
.menu{
    float: right;
    margin-top: 25px;
    text-transform: uppercase;
    margin-top: 35px;
}
.menu li{
    float: left;
    display: inline;
    margin-left: 10px;
}
.menu a{
    color: white;
    padding: 3px;
    transition: all 0.5s;
}
.menu a:hover{
    background-color: var(--lightBlue);
    border-radius: 5px;
    color: var(--darkBlue);
}
#logoFirst{
    color: var(--lightBlue);
}