body{
    background: #DDD8C4;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#topnav
{
    display: block;
    height: 50px;
    text-transform: uppercase;
    position: static;
}
#topnav >h1{
    float: left;
    margin-top: 7px;
    margin-left: 60px;

}
#logo{
font-size: 30px;
clear: both;
}
 .menu
{
    text-align: right;
    color: black;
    text-decoration: none;
    list-style-type: none;
}

.menu > li
{
    display: inline-block;
}
.menu a
{
    position: relative;
    top:15px;
    right:60px;
    font-weight: 900 ;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    padding: 5px;
    transition: all 1s;
}

.menu a:hover
{
    background:#A3C9A8;
    border-radius: 5px;
}
.clear{
    clear: both;
}

.welcomePage{

    width: 100%;
    height: 700px;
    background:url(./images/book-stack-3964568_1280.jpg);
    background-size: cover;
    background-position: center;
    z-index: 0;
    border: black solid 2 px;;

}
/* #filtrKoloru{
    height: 100%;
    background:#70A288;
    mix-blend-mode: screen;
    z-index: 2;
} */
#napisSzkola{
    display: block;
    margin:40px;
    width: 500px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: red;
    z-index: -4;
}
